@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --bg: linear-gradient(180deg, #18184b 0%, #010024 47.38%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-image: var(--bg);
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  color: #eee;
  text-align: center;
  padding: 1.7rem 0.5rem;
  overflow-x: hidden;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 96%;
  max-width: 61rem;
  margin: 0 auto;
}

.location {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
  color: #fff;
}

.date {
  color: #bbb;
  font-size: 1rem;
  font-style: italic;
}

.weather-details-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 4.2rem;
}

.temperature-group {
  margin: 2rem 0 2.6rem 0;
}

.temperature-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: auto;
  animation: tempAnimation 6s linear infinite alternate;
}

.temperature {
  font-size: 2.6rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: -0.3rem;
}

.desc {
  font-size: 1.2rem;
  font-weight: lighter;
  color: #999;
}

.other-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 2rem;
  padding: 0.5rem 0.2rem 1rem 0.2rem;
  overflow-x: scroll;
}

.other-details::-webkit-scrollbar {
  height: 2px;
}

.other-details::-webkit-scrollbar-track {
  background: none;
}

.other-details::-webkit-scrollbar-thumb {
  border-radius: 30%;
  background: rgba(255, 255, 255, 0.5);
}

.other-details-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.15);
  width: 9rem;
  min-width: 8.7rem;
  padding: 1.3rem 0.6rem;
  border-radius: 0.9rem;
}

.other-details-group:not(:last-child) {
  margin-right: 1rem;
}

.other-details-group h3 {
  font-size: 1.1rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 1.7rem;
}

.other-details-group p {
  font-size: 1.35rem;
  font-weight: 600;
}

.details-group-unit {
  font-size: 1.15rem;
  font-weight: 500;
  color: #ddd;
}

.fa-search,
.fa-sun,
.fa-moon {
  position: absolute;
  top: 0.2rem;
  font-size: 1.8rem;
  cursor: pointer;
}

.fa-search {
  left: 0.2rem;
}

.fa-sun,
.fa-moon {
  right: 0.2rem;
}

.fa-chevron-left {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 2rem;
}

.search-location {
  background-image: var(--bg);
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 7rem 1rem;
  transform: translateX(100%);
  transition: transform 350ms ease;
  overflow-y: hidden;
}

.search-location.open {
  transform: translateX(0);
}

.search-location-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
  letter-spacing: 2px;
}

.search-location-input {
  width: 87%;
  height: 2rem;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  font-size: 1.17rem;
  padding: 1.3rem;
  border: 1px solid transparent;
  border-radius: 0.9rem;
  letter-spacing: 3px;
  transition: 300ms ease;
}

.search-location-input::placeholder {
  color: #bbb;
  font-size: 1.1rem;
  letter-spacing: 0;
}

.search-location-input:hover,
.search-location-input:focus {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #ccc;
  outline: none;
}

.days-weather-report {
  text-align: left;
  margin-top: 2.2rem;
  color: #ccc;
}

.days-weather-report h3 {
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.days-list {
  display: grid;
  list-style: none;
  align-items: center;
  grid-template-columns: 15% 25% 45% 15%;
  margin-bottom: 0.8rem;
}

.day-img {
  width: 60%;
  margin: auto;
}

.day-desc {
  font-size: 0.95rem;
}

.day-temp {
  text-align: center;
  font-weight: 600;
  color: #eee;
  margin-left: 0.4rem;
}

@keyframes tempAnimation {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(10%);
  }
}

/* Light Mode  */
.container.light {
  background: #fff;
}

.container.light .location,
.container.light .temperature,
.container.light .day-temp,
.container.light .fa-search,
.container.light .fa-moon,
.container.light .fa-chevron-left,
.container.light .days-weather-report h3,
.container.light .other-details-group p,
.container.light .search-location-title {
  color: #222;
}

.container.light .date,
.container.light .desc,
.container.light .day-desc,
.container.light .day {
  color: #888;
}

.container.light .other-details::-webkit-scrollbar-thumb {
  background: #888;
}

.container.light .other-details-group {
  background: rgba(137, 178, 255, 0.2);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.container.light .other-details-group h3,
.container.light .details-group-unit {
  color: #555;
}

.container.light .search-location {
  background: #fff;
}

.container.light .search-location-input {
  background: rgba(0, 0, 0, 0.1);
  color: #222;
}

.container.light .search-location-input::placeholder {
  color: #222;
}
